<div class="radio-block media-block">
  <h3>ao vivo</h3>
  <audio id="radio-player" preload="metadata" style="width:100%">
    <source src="http://upload.wikimedia.org/wikipedia/commons/c/c8/Example.ogg" type="audio/ogg">
    <b>Seu navegador não suporta mídias html5.</b>
  </audio>
  <div class='radio-block podcast-name'>Radio Software Livre na Feira do Livro de Porto Alegre</div>
  <div class=participe>Participe pelas redes sociais com a hashtag
  <div class='hashtag'>#radioSLnaFeira</div>
</div></div>
<script src="/designs/themes/new-softwarelivre/audio-js/audio.js"></script>
  <script> new AudioJS(jQuery('#radio-player')[0]) </script>
<div class='feira-links'>
<a href="http://www.feiradolivro-poa.com.br" id="who-feira" target="_blank"><span>Feira do livro</span></a>
<div class='footer'>
<a href="http://asl.org.br" id="who-asl" target="_blank"><span>Associação Software Livre Brasil</span></a>
<a href="http://www.serpro.gov.br" id="who-serpro" target="_blank"><span>Serpro</span></a>
<a href="http://diasporabr.com.br/u/fisl" id="who-diasp" target="_blank"><span>Serpro</span></a>
<a href="http://www.facebook.com/fisl.oficial" id="who-fb" target="_blank"><span>Serpro</span></a>
<a href="http://www.twitter.com/fisl.oficial" id="who-tt" target="_blank"><span>Serpro</span></a>
<a href="creativecommons.org/licenses/by/4.0/" id="who-cc" target="_blank"><span>Serpro</span></a>
</div>
</div>
