<div id="footer-links">
<ul id="slbr-footer">
<li><a href="http://softwarelivre.org" id="slbr" class="link-this-page"><span>Software Livre - Brasil</span></a></li>
<li><a href="<%= environment.top_url %>/tv"><span>TV Software Livre</span></a></li>
<li><a href="<%= environment.top_url %>/radio"><span>Rádio Software Livre</span></a></li>
</ul>
<ul id="conheca-footer"><h3>Conheça</h3>
<li><a href="<%= environment.top_url %>/portal/quem-somos">Quem Somos</a></li>
<li><a href="<%= environment.top_url %>/portal/termos-de-uso">Termos de Uso</a></li>
<li><a href="<%= environment.top_url %>/doc">Documentação</a></li>
<li><a href="<%= environment.top_url %>/contact/portal/new">Fale Conosco</a></li>
</ul>
<ul id="colabore-footer"><h3>Colabore</h3>
<li><b><a href="<%= environment.top_url %>/myprofile/portal/cms/suggest_an_article">Sugerir um Artigo</a></b></li>
<li><a href="<%= environment.top_url %>/portal/melhorias">Sugerir Melhorias</a></li>
<li><a href="<%= environment.top_url %>/portal/bugs">Reportar um Bug</a></li>
<li><a href="<%= environment.top_url %>/portal/desenvolvimento">Desenvolvimento</a></li>
</ul>
<ul id="compartilhe-footer"><h3>Compartilhe</h3>
<li><b><!-- AddToAny BEGIN -->
<a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fsoftwarelivre.org&amp;linkname=SoftwareLivre.org">Compartilhar Isto!</a>
<script type="text/javascript">
var a2a_config = a2a_config || {};
a2a_config.linkname = "SoftwareLivre.org";
a2a_config.linkurl = "http://softwarelivre.org";
a2a_config.onclick = 1;
a2a_config.locale = "pt-BR";
a2a_config.num_services = 6;
a2a_config.prioritize = ["identi_ca", "twitter", "facebook", "google_buzz", "digg", "email"];
</script>
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END --></b></li>
<li><a href="<%= environment.top_url %>/portal/eventos">Novos Eventos</a></li>
<li><a href="<%= environment.top_url %>/portal/portfolio">Portfólio Livre</a></li>
<li><a href="<%= environment.top_url %>/portal/divulgue">Páginas Amigas</a></li>
</ul>
<ul id="apoio-footer"><h3>Apoio</h3>
<li>
<a href="<%= environment.top_url %>/portal/apoio"><img src="/portal/anuncios/apoio.png" alt="Apoio"></a>
</li>
</ul>
</div><!-- end id="footer-links" -->
<div id="copyright">
  © Copyleft 2014 -
  <a id="link-asl" href="http://associacao.softwarelivre.org/" title="Associação SoftwareLivre.org">ASL</a> - Alguns direitos reservados, exceto quando especificado em contrário e nos conteúdos replicados de outras fontes.
  <p id="noosfero-license">Este site utiliza o software livre <a href="http://www.noosfero.org/" id="link-noosfero">Noosfero</a>, licenciado sob a licença
    <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public
    License</a>, versão 3 ou superior.  </p>
  <!-- Desenvolvido com
  <a href="http://noosfero.com.br"
     title="FLOSS for Social!">Noosfero</a-->
</div><!-- end id="copyright" -->

<script type="text/javascript">
  jQuery(function($) {
    imgUrl = $(".action-home-index #highlighted-news img:first").remove().attr('src');
    $('<div id="highlighted-pic" style="background-image:url('+imgUrl+')"></div>').prependTo("#highlighted-news");
    $(".action-home-index .highlights-block").prependTo("#content");
    $(".action-environment_design-index .highlights-block").prependTo("#content");
    $(".action-home-index .container-block-plugin_container-block").prependTo("#content");
    $(".action-environment_design-index .container-block-plugin_container-block").prependTo("#content");
    $("#link-radio-news").appendTo(".action-home-index .container-block-plugin_container-block .feed-reader-block .block-inner-2");
    $("#link-radio-news").appendTo(".action-environment_design-index .container-block-plugin_container-block .feed-reader-block .block-inner-2");
  });
</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.colivre.coop.br/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://piwik.colivre.coop.br/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
