<li><a href="/portal/quem-somos" id="submenu-about"><span><%= _('About') %></span></a></li>
<!-- Search is disabled. This link should be displayed after enabling the search
<li><a href="/search/articles" id="submenu-contents"><span><%= _('Contents') %></span></a></li>
 -->
<li><a href="/doc"><span><%= _('Manual') %></span></a></li>
<li><a href="/portal/eventos" id="submenu-events"><span class='icon-menu-events'><%= _('Events') %></span></a></li>
<li><%= browse_people_menu %></li>
<li id="browse"><%= browse_communities_menu %></li>
<li id="date-time"><b><%= show_date(DateTime.current, true) %></b></li>
